# -------------------------------------
# VARIABLES DE BASE DE DATOS (MariaDB)
# -------------------------------------
MOODLE_DB_TYPE=mariadb
# Debe coincidir con el nombre del servicio en docker-compose
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle_db
MOODLE_DB_USER=moodleuser
MOODLE_DB_PASS=change_me_db_user_password
MOODLE_DB_PREFIX=mdl_
# Contraseña de administrador del motor de base de datos
MOODLE_DB_ROOT_PASS=change_me_db_root_password

# -------------------------------------
# VARIABLES DE LA APLICACION (Moodle)
# -------------------------------------
MOODLE_URL=http://localhost:8080
MOODLE_DATA_DIR=/var/www/moodledata
MOODLE_REVERSE_PROXY=false

# -------------------------------------
# VARIABLES DEL SISTEMA
# -------------------------------------
TZ=America/Mexico_City
