{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_almondb/frontpage/htmlblock

    Renders a single dynamic "HTML + image" block as two tiles (image + text)
    arranged according to the configured layout.

    Context variables required for this template:
    * index - Instance number (used for the section id).
    * hasimage - Whether to render a separate image tile.
    * image - Resolved image URL.
    * hastext - Whether to render the text tile.
    * text - Already formatted text/HTML.
    * layoutclass - CSS class controlling the tile arrangement
                    (hb-image-left | hb-image-right | hb-image-top | hb-image-bottom).
}}
<section id="htmlblock{{index}}" class="hy-mt-50 hb-section">
    <div class="container">
        <div class="hb-tiles {{layoutclass}}">
            {{#hasimage}}
                <div class="hb-tile hb-tile-image">
                    <img src="{{image}}" alt="" class="img-fluid">
                </div>
            {{/hasimage}}
            {{#hastext}}
                <div class="hb-tile hb-tile-text">
                    {{{text}}}
                </div>
            {{/hastext}}
        </div>
    </div>
</section>
